

body{color: #333333;}

/*リンク*/
a{color:#346e80;}
a:hover{color: #8dcde0;}

/*ページ*/
#page {
    width:980px;
    margin: 0 auto;}

p{font-size: 14px;}

/*見出し*/
.pageTitle{
    font-size: 26px;
    color: #346e80;
    background-color: #F2F2E5;
    padding: 5px 15px;
    }

.typeA{
    font-size: 20px;
    color: #346e80;
    border-bottom: solid 1px #346e80;
    padding:5px;}

.heading-typeA{
    font-size: 16px;
    border-left: solid 5px #346e80;
    background-color:#7babab;
    padding-left: 10px;}

.heading-typeB{
    font-size: 16px;
    border-left: solid 5px #346e80;
    background-color:#7babab;
    padding-left: 10px;}

.heading-typeC{
    font-size: 16px;
    border-left: solid 5px #346e80;
    background-color:#7babab;
    padding-left: 10px;}

.heading-typeD{
    font-size: 16px;
    border-left: solid 5px #346e80;
    background-color:#7babab;
    padding-left: 10px;}


    /*区切り線と余白*/
    .articleDetailHead{
    border-bottom: solid 1px #CCCCCC;
    margin-bottom: 30px;
    padding-top: 15px;
    }

/*ナビ*/

#pageHead .localNavi{
    border:solid #CCCCCC;
    border-width: 1px 0;
    padding: 10px 0;
}

#pageHead .localNavi ul{
    margin: 0;
    padding: 0;
}

#pageHead .localNavi ul:after{
    content:"";
    clear: both;
    display: block;
}

#pageHead .localNavi ul li{
    list-style: none;
    width: 196px;
    float: left;
    border-left:solid 1px #CCCCCC;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
}

#pageHead .localNavi ul li:first-child{
    border-left: none;
}

/*リンク線消し*/
/*#pageHead .localNavi ul li a{
    color: inherit;
    text-decoration: none;
}
*/
#pageHead .localNavi ul li a:hover{
    background-color: #CCCCCC;
}


.topicPath{
    font-size: 14px;
}

