

body{color: #333333;}

/*ページ*/
#page {
    width:980px;
    margin: 0 auto;}

p{font-size: 14px;}

/*見出し*/
.pageTitle{
    font-size: 26px;
    color: #346e80;
    background-color: #F2F2E5;
    padding: 5px 15px;
    }

.typeA{
    font-size: 20px;
    color: #346e80;
    border-bottom: solid 1px #346e80;
    padding:5px;}

.heading-typeA{
    font-size: 16px;
    border-left: solid 5px #346e80;
    background-color:#7babab;
    padding-left: 10px;}

.heading-typeB{
    font-size: 16px;
    border-left: solid 5px #346e80;
    background-color:#7babab;
    padding-left: 10px;}

.heading-typeC{
    font-size: 16px;
    border-left: solid 5px #346e80;
    background-color:#7babab;
    padding-left: 10px;}

    /*区切り線と余白*/
    .articleDetailHead{
    border-bottom: solid 1px #CCCCCC;
    margin-bottom: 30px;
    padding-top: 15px;
    }